absl-py
adrf
aiofiles
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
amqp
anyio
APScheduler
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
astunparse
async-lru
async-property
attrs
autobahn
Automat
babel
beautifulsoup4
billiard
black
bleach
Brotli
brotlicffi
celery
certifi
cffi
channels
channels_redis
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
comm
constantly
cron-descriptor
cryptography
debugpy
decorator
defusedxml
dj-config-url
Django
django-debug-toolbar
django-environ
django-maintenance-mode
django-redis
django-rest-framework
django-timezone-field
django-unfold
django-user-agents
djangorestframework
djangorestframework-simplejwt
executing
fastjsonschema
filelock
flatbuffers
fqdn
frozenlist
gast
google-pasta
greenlet
grpcio
gunicorn
h11
h5py
httpcore
httpie
httpx
humanize
hyperlink
idna
incremental
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyter_server_terminals
jupyterlab_pygments
jupyterlab_widgets
keras
kombu
libclang
logger
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mistune
ml-dtypes
msgpack
multidict
mypy-extensions
namex
nest-asyncio
numpy
opt_einsum
optree
overrides
packaging
pandocfilters
parso
pathspec
pillow
platformdirs
playwright
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
psycopg2-binary
pure_eval
pyasn1
pyasn1_modules
pycparser
pyee
Pygments
PyJWT
pyOpenSSL
PySocks
python-crontab
python-dateutil
python-decouple
python-dotenv
python-fsutil
python-json-logger
pytz
pywin32
pywinpty
PyYAML
pyzmq
qrcode
redis
referencing
requests
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
Send2Trash
service-identity
setuptools
six
sniffio
soupsieve
sqlparse
stack-data
tensorboard
tensorboard-data-server
termcolor
terminado
tinycss2
tornado
traitlets
twilio
Twisted
txaio
types-python-dateutil
typing_extensions
tzdata
tzlocal
ua-parser
ua-parser-builtins
uri-template
urllib3
user-agents
vine
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wheel
whitenoise
widgetsnbextension
wrapt
yarl
zope.interface
